.side_bar
  .side_bar__user_name
    .side_bar__user_name__box
      %p.side_bar__user_name__box__name aaaa
      %ul.side_bar__user_name__box__icon
        %li.side_bar__user_name__box__icon
          = link_to "#", class: "side_bar__user_name__box__icon__edit"  do
            %i.fa.fa-edit
        %li.side_bar__user_name__box__icon
          = link_to "#", class: "side_bar__user_name__box__icon__new"  do
            %i.fa.fa-cog

  .side_bar__group_list
    .side_bar__group_list__group
      %p.side_bar__group_list__name techamp
      %P.side_bar__group_list__message まだメッセージがありません



  